.card-container {
    width: 100%;
    user-select: none;
    min-height: 90px;
    height: 100%;
    display: flex;
    background-color: var(--white);
    padding: clamp(16px, 10vw, 32px);
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: var(--black);
    transition: transform 0.25s ease-in-out;
    box-sizing: border-box;
    position: relative;

    &:hover,
    &:hover h1 {
        transform: scale(1.05);
        color: var(--white);
        background-color: var(--black);
        transition: transform 0.25s ease-in-out;
    }

    &:hover icon {
        background-color: var(--white);
        color: var(--black);
    }
}

h1 {
    font-size: clamp(24px, 7vw, 56px);
}

.dflex {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0px 24px;
    text-align: center;
}

icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(48px, 10vw, 88px);
    width: clamp(48px, 10vw, 88px);
    border-radius: 50%;
    flex-shrink: 0;
    font-size: clamp(24px, 7vw, 56px);
    background-color: var(--black);
    color: var(--white);
}

:host ::ng-deep p {
    width: 100%;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    font-size: clamp(16px, 3vw, 24px) !important;
}


:host ::ng-deep hr {
    width: 3px;
    height: 10px;
    background-color: rgb(3, 46, 83);
}