:host{
    width: 100%;
}

.category {
    user-select: none;
    display: flex;
    width: max-content;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--white);
    margin-bottom: 2rem;
}

.content{
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 500px;

    h1{
        margin-bottom: 2rem;
    }

    p{
     font-size: 1.3125rem;
     margin: 0.5rem 0 1rem 0;
     font-weight:600;
    }

    span{
        font-size: 1.3125rem;
        &.important {
        position: relative;
        margin-top: 2rem;
        margin-bottom: 0.5rem;

        &::before {
            content: '*';
            position: absolute;
            width: min-content;
            height: 100%;
            top: -5px;
            right: -12px;
            font-size: 24px;
            color: var(--error);
        }
}

    }
}

app-menu-selector{
    width:100%
}

.flex-end-box{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 2rem;

    button{
        margin: 0px;

        icon{
            margin-left: 0.5rem;
        }
    }
}