<label for="category" class="important">Category</label>
<div class="select-input category-input clickable" id="categoryInput"
    [ngClass]="{'error-border': categoryService.isValid() === false}"
    (click)="toggleMenu(); preventClick($event)">
    @if(categoryService.getCurrentChoice() && categoryService.getCurrentChoiceName().length  > 0){
        <span>{{categoryService.getCurrentChoiceName()}}</span>
    } @else {
        <span>Select task category</span>
    }
    <hr>
    <div class="suffix-icon">
        <icon>{{categoryService.isMenuOpen() ? 'arrow_drop_down' : 'arrow_drop_up'}}</icon>
    </div>

    <div (click)="service.preventClick($event)" class="select-container"
        [ngClass]="{'animate-fade-in-container' : categoryService.isMenuOpen() && !categoryService.isFirstTimeVisit(), 'animate-fade-out-container' : !categoryService.isMenuOpen() && !categoryService.isFirstTimeVisit()}">

        <ng-content *ngFor="let key of service.allCategoryKeys; index as i;">
            <ul class="data-field-catogory">
                <li *ngIf="database.categories[key].name != 'No Category'"
                    (click)="setChoice(database.categories[key])" class="selectable">
                    {{database.categories[key].name}}</li>
            </ul>
        </ng-content>

    </div>
</div>