<label class="important">Subtask</label>

<div class="input-area">
<div class="select-input subtask-input clickable"
    (click)="subtaskService.toggleMenu(); preventClick($event)">
    <span *ngIf="!subtaskService.isMenuOpen()">Add new Subtask</span>
    <div *ngIf="subtaskService.isMenuOpen()" class="full-width" (click)="preventClick($event)">
        <input #addSubTaskInput name="newSubTask" id="newSubTask" [(ngModel)]="subtaskService.newSubTask"
            placeholder="Add new Subtask">
    </div>
    <hr *ngIf="!subtaskService.isMenuOpen()">
    <div class="suffix-icon">

        <div *ngIf="!subtaskService.isMenuOpen()">
            <icon>add</icon>
        </div>
        <div *ngIf="subtaskService.isMenuOpen()" class="icon-flex icon-hover" (click)="preventClick($event)">
            <icon (click)="subtaskService.toggleMenu()">close</icon>
            <hr>
            <icon (click)="setSubTask()">check</icon>
        </div>
    </div>
</div>
</div>
<div class="render-area-subtask" *ngIf="subtaskService.allKeysOfSubTasks.length > 0">
    <div (click)="preventClick($event)" class="select-container static-box"
        [ngClass]="{'animate-fade-in-container': subtaskService.allKeysOfSubTasks.length > 0 && !subtaskService.isFirstTimeVisit(), 'animate-fade-out-container' : subtaskService.allKeysOfSubTasks.length <= 0 && !subtaskService.isFirstTimeVisit() && !subtaskService.isMenuOpen()}">
        @for(key of subtaskService.allKeysOfSubTasks; track key; let i = $index){

            <div [id]='i' class="task-container" [ngClass]="{'on-edit': subtaskService.allSubTask()![key].inOnEdit}" *ngIf="subtaskService.allSubTask() as allTasks">
                <p *ngIf="!subtaskService.allSubTask()![key].inOnEdit">
                    {{subtaskService.allSubTask()![key].text}}</p>

                <div *ngIf="subtaskService.allSubTask()![key].inOnEdit" class="edit-input-field">
                    <icon>edit</icon>
                    <input #editSubTask name="editSubTask" id="editSubTask"
                        [(ngModel)]="subtaskService.allSubTask()![key].text">
                </div>

                <div class="icon-flex icon-hover" *ngIf="!subtaskService.allSubTask()![key].inOnEdit">
                    <icon (click)="openEditById(key)">edit</icon>
                    <hr>
                    <icon (click)="deleteSubTaskbById(key)">delete</icon>
                </div>
                <div class="icon-flex icon-hover" *ngIf="subtaskService.allSubTask()![key].inOnEdit">
                    <icon (click)="closeEditById(key)">close</icon>
                    <hr>
                    <icon (click)="saveEditById(key)">check</icon>
                </div>
            </div>
        }
    </div>
    </div>
