.suffix-icon {
    padding: 0px 16px;
    color: var(--grey);
}

.select-container {
    z-index: 80;
    background-color: var(--hover-grey) !important;
    border: 1px solid var(--grey);
}

.select-input {
    padding: 0px 0px 0px 0px !important;
    height: 52px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    span {
        width: 100% !important;
        display: flex;
        align-items: center;
        font-size: 18px !important;
        margin-top: -2px;
    }

    input {
        font-size: 18px !important;
        border: none;
        outline: none;
        height: 52px !important;
        background-color: transparent !important;
        padding-left: 16px !important;
        box-sizing: border-box !important;
    }
}

.full-width {
    height: 100%;
    width: 100%;
}

.icon-flex {
    width: 70px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.icon-hover {
    icon {
        &:hover {
            color: var(--cyan) !important;
        }
    }
}

.all-subtask-container {
    height: 100%;
    max-height: 350px;
    overflow-y: auto;
    width: 100%;
}

.static-box {
    z-index: 9 !important;
    max-height: max-content;
    box-sizing: border-box;

    .task-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        color: var(--black);

        icon {
            font-size: 21px !important;
        }

        &:hover {
            background-color: var(--white);
            border-color: var(--grey);
            border-radius: 8px;
        }

        p {
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            width: 100% !important;
        }

    }
}

.edit-input-field {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--grey) !important;
    border-radius: 12px;
    margin-right: 8px;

    icon {
        margin: 0px 8px;
        opacity: 0.5;
    }

    input {
        padding: 0px 0px !important;
    }
}