.login-h1 {
    text-align: center;
}

@media (max-width:600px){

    .flex-box{
        justify-content: center !important;
    }

    .checkbox-container{
        margin-left: 0px !important;
    }

    h1{
        font-size: clamp(56px,12vw,64px); 
        margin-bottom: 0px;
    }

    .input-frame{
        width: auto  !important;
    }
}

.input-error{
    border-color: red !important;  
}

.error-box{
    width: 75%;
    max-width: 325px;
    height: 56px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    color: rgb(228, 48, 45);
}