.board {

    flex-wrap: nowrap;
    justify-content: center;
    gap: 3%;
    padding: 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    margin-top: 64px;

    @media screen and (max-width:1800px){
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .container{
                display: flex;  
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 1rem;
                overflow-x: auto;
                position: relative;
                height: 355px;

            }

            app-drop-zone{
                position: absolute;
                height: 100%;
                top: 0px;
                left: 0px;
                backdrop-filter: blur(5px);
            }
    }
}

h2{
    width: max-content;
}

nav {
    user-select: none;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--subline);
    align-items: center;
    box-sizing: border-box;
    padding: 16px 21px;
    border-radius: 12px;

    span {
        font-weight: 600;
        font-size: 24px;

    }

    icon {
        font-size: 32px;
    }

    &:hover {
        cursor: pointer;
        color: var(--white);
        background-color: var(--black);
    }
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.is-done-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    color: var(--subline);
    align-items: center;
    box-sizing: border-box;
    padding-left: 16px;
    height: max-content;


    span {
        font-weight: 600;
        font-size: 24px;
    }
}

.setFullSize {
    width: 100%;
    height: 100%;
}

.headline {
    user-select: none;
    width: 100%;
    padding: 20px 0px;

}

.flex-box{
    display: flex;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width:1224px) {
        padding-bottom: 5rem;
    }

    span{
        white-space: nowrap;
        display: block;
        margin-right: 1rem;

        @media screen and (max-width: 1224px) {
            display: none;
        }
    }

    icon{
        font-size: 1.75rem;
    }

    button{
        margin: 0px 0px 0px 2rem;
        min-width: max-content;
        box-sizing: border-box;
        padding:12px 24px;
        transition: scale 0.25s ease-in-out;
        &:hover{
            scale: 1.025;
        }

        @media screen and (max-width: 1224px) {
            padding:12px 18px;
        }
    }
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

search{
    display: flex;
    align-items: center;

    @media screen and (max-width:1224px) {
        align-items: center;
        position: absolute;
        width: 100%;
        max-width: 520px;
        bottom: 18px;
        left: 0%;


    }

    .overview-wrapper{
        width: 100%;
        max-width: none;
    }
}

