<lightbox #lightbox>
</lightbox>
<div class="flex-box">
    <h1>Board</h1>
    <div class="flex-row">
    <search></search>
    <button (click)="openNewTask(0)" class="black-button min-witdh-button"><span>Add Task</span><icon>add</icon></button>
    </div>
</div>


<section class="board">

    <div class="to-do-column">
        <nav (click)="openNewTask(0)">
            <span>To Do</span>
            <icon>add_box</icon>
        </nav>
        <div class="container">
            <ng-container *ngFor="let taskId of database.getTasksKeys(); index as i;">
                <app-board-task-cards (click)="openTaskOverViewInLightBox(taskId)" *ngIf="database.tasks[taskId].progress == 0"
                    [taskId]="taskId" [oderNumberInColoumn]="i"></app-board-task-cards>

            </ng-container>
            <app-drop-zone
                *ngIf="service.isOnDrag && service.currentDragElement && database.tasks[service.currentDragElement.id].progress != 0"
                class="setFullSize" [dropId]="0"></app-drop-zone>
        </div>
    </div>

    <div class="in-progress-column">
        <nav (click)="openNewTask(1)">
            <span>In Progress</span>
            <icon>add_box</icon>
        </nav>
        <div class="container">
            <ng-container *ngFor="let taskId of database.getTasksKeys(); index as i;">
                <app-board-task-cards (click)="openTaskOverViewInLightBox(taskId)" *ngIf="database.tasks[taskId].progress == 1"
                    [taskId]="taskId" [oderNumberInColoumn]="i"></app-board-task-cards>

            </ng-container>
            <app-drop-zone
                *ngIf="service.isOnDrag && service.currentDragElement && database.tasks[service.currentDragElement.id].progress != 1"
                class="setFullSize" [dropId]="1"></app-drop-zone>
        </div>
    </div>

    <div class="await-feedback-column">
        <nav (click)="openNewTask(2)">
            <span>Await Feedback</span>
            <icon>add_box</icon>
        </nav>
        <div class="container">
            <ng-container *ngFor="let taskId of database.getTasksKeys(); index as i;">
                <app-board-task-cards (click)="openTaskOverViewInLightBox(taskId)" *ngIf="database.tasks[taskId].progress == 2"
                    [taskId]="taskId" [oderNumberInColoumn]="i"></app-board-task-cards>

            </ng-container>
            <app-drop-zone class="setFullSize"
                *ngIf="service.isOnDrag && service.currentDragElement && database.tasks[service.currentDragElement!.id].progress != 2"
                [dropId]="2"></app-drop-zone>
        </div>
    </div>

    <div class="is-done-column">
        <div class="headline"> <span>Done</span>
        </div>
        <div class="container">
            <ng-container *ngFor="let taskId of database.getTasksKeys(); index as i;">
                <app-board-task-cards (click)="openTaskOverViewInLightBox(taskId)" *ngIf="database.tasks[taskId].progress == 3"
                    [taskId]="taskId" [oderNumberInColoumn]="i"></app-board-task-cards>
            </ng-container>
            <app-drop-zone class="setFullSize"
                *ngIf="service.isOnDrag && service.currentDragElement && database.tasks[service.currentDragElement.id].progress != 3"
                [dropId]="3"></app-drop-zone>
        </div>
    </div>

</section>