.board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3%;
    padding: 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
}

nav {
    user-select: none;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--subline);
    align-items: center;
    box-sizing: border-box;
    padding: 16px 21px;
    border-radius: 12px;

    span {
        font-weight: 600;
        font-size: 24px;

    }

    icon {
        font-size: 32px;
    }

    &:hover {
        cursor: pointer;
        color: var(--white);
        background-color: var(--black);
    }
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.is-done-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    color: var(--subline);
    align-items: center;
    box-sizing: border-box;
    padding-left: 16px;
    height: max-content;


    span {
        font-weight: 600;
        font-size: 24px;
    }
}

.setFullSize {
    width: 100%;
    height: 100%;
}

.headline {
    user-select: none;
    width: 100%;
    padding: 20px 0px;

}