.input-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover{
        cursor: pointer;
    }
}
.select-input{
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: start;
    border-radius: 12px;
    border: 1px solid #A8A8A8;

    &:has(span:hover), &:has(button:hover){
        border-color: #29ABE2;
    }

    hr{
        width: 0px;
        height: 75%;
        border-left: 1px solid #A8A8A8;
    }

    button{
        width: 48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: none;

        &:hover{
            cursor: pointer;

        }

        &:hover icon {
            color: #29ABE2;
            scale: 1.15;
        }
    }

    icon{
        color: #A8A8A8;
        user-select: none;
        font-size: 1.5rem;
        transition: scale 0.25s ease-in-out, rotate 0.25s ease-in-out;
    }

    span{
        user-select: none;
        display: flex;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        padding: 0px 12px;
        font-size: clamp(0.875rem, 6vw, 1.25rem);
        width: 100%;
        background-color: transparent;
        color: #A8A8A8;

        &.valid{
            color: #151515;  
        }
    }
}

.select-input.active {
   icon{
    rotate: (180deg);
   }
}


.error {
    border-color: red !important;
}


.select-options-field{
    position: absolute;
    bottom: calc(0% - 2rem);
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    margin: 1rem 0px ;
    border-radius: 12px;
    border: 1px solid #A8A8A8;
    font-size: clamp(0.875rem, 6vw, 1.125rem);
    box-shadow: 1px 2px 4px #ececec;
    transform: translateY(100%) scaleY(0);
    transform-origin: top center;
    transition: transform 0.25s ease-in-out, opacity 0.175s ease-out;
    opacity: 0;
    max-height: 184px;
    overflow-y: auto;

    &.active{
        transform: translateY(100%) scaleY(1);
        opacity: 1;
    }
}

option{
    user-select: none;
    padding: 12px 24px;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
        background-color: #e9ebf0;
    }
}


