:host{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.overview-wrapper{
    width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    @media screen and (max-width:750px) {
        width: 100%;
    }
}

form{
    box-sizing: border-box;
    padding: 1px;
    display: flex;
    align-items: start !important;
}

label {
    text-align: start;
}

.input-frame{ 
    width: 100% !important;
    max-width: none !important;
    margin: 1rem 0px !important;
}