:host{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

label{
    margin-top: 1rem;
}

.overview-wrapper{
    width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    @media screen and (max-width:750px) {
        width: 100%;
    }
}

form{
    box-sizing: border-box;
    padding: 1px;
    display: flex;
    align-items: start !important;
}

label {
    text-align: start;
}

.input-frame{ 
    width: 100% !important;
    max-width: none !important;
    margin: 1rem 0px !important;
}

app-subtask-input, app-priority-input{
    margin-top: 2rem;
}

.black-button {
    margin: 18px 0px !important;
    padding: 12px 24px;
}

.flex-end-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    margin-top: 1rem;

    icon{
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
}

.errorBox{
    z-index: 999;
    position: sticky;
    bottom: 0px;
    left: 0px;
    background-color: #f23d3d;
    box-sizing: border-box;
    padding: 12px 12px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 0px 1px 4px #a9a9a9;

    icon{
        color: white;
        font-size: clamp(2rem, 6vw, 3rem);
        margin-right: 12px;
    }


    p{
        font-weight: 400;
        color: white;
    }
}


