
<div class="overview-wrapper">

    <form (click)="closeOpenWinod()" [formGroup]="editForm" (ngSubmit)="onSave()">
        <label for="nameInput" class="important">Title</label>
        <div class="input-frame input-frame-add-task"
            >
            <input spellcheck="true" formControlName="name" id='nameInput' required name="taskTitle" type="text">
        </div>

        <label for="description">Description</label>
        <div class="text-frame">
            <textarea spellcheck="true" formControlName="description" id="description" name="task-description"></textarea>
        </div>

        <label for="dueDate" class="important">Due-Date</label>
        <div class="input-frame input-frame-add-task" id="dueDateInput"
            >
            <div class="suffix-icon data-picker-icon">
                <icon>calendar_month</icon>
            </div>
            <input class='data-picker-input' formControlName="dueDate" required type="date" id="dueDate" [value]="currentTask?.date"
                name="dueDate" [min]="dateToday" />
        </div>

        <app-priority-input [setStateOnInit]="currentTask?.priority"></app-priority-input>
        <app-assigned-to-input [CurrentTaskDataSet]="currentTask!"></app-assigned-to-input>
        <app-subtask-input [currentTask]="currentTask!" ></app-subtask-input>

         @if(!isValid()){
            <div class="errorBox">
                <icon>error</icon>
                @if(this.editForm.get('dueDate')?.hasError('minDate') || this.editForm.get('dueDate')?.hasError('required')){
                    <p>Das aktuelle Datum liegt in der Vergangenheit. Bitte wähle ein neues Datum</p>
                }

                @else if(this.editForm.get('name')?.hasError('minlength') || this.editForm.get('name')?.hasError('required')){
                    <p>Der Name muss min. 3 Zeichen haben.</p>
                }

                @else if(!getAssignedToValid()){
                    <p>Es wurden keine Personen zur Aufgabe zugeordnet.</p>
                }
  
            </div> 
        }

        <div class="flex-end-box">
            <button [disabled]="!isValid()" class="black-button min-witdh-button" (click)="onSave()">Save<icon>check</icon></button>
        </div>

    </form>

</div>