<label for="assignTo" class="important">Assigned to</label>
<div class="select-input assignedTo-input"
    [ngClass]="{'error-border': !service.assignToObj.firstTimeVisit && service.assignToObj.selectetUser.length <= 0 || OnHoverIsValid}"
    (click)="searchFotResults(); toggleAssignedToWindow(); service.closeCategory($event) ;service.preventClick($event)">
    <span *ngIf="!service.assignToObj.open">Select Contacts</span>

    <ng-content *ngIf="service.assignToObj.open">
        <icon class="search-iocn">search</icon>
        <input #serachbar (click)="service.preventClick($event)" (input)="searchFotResults()" name="search"
            [(ngModel)]="service.search" id='assignTo' placeholder="Search Contacts">
    </ng-content>
    <hr>
    <div class="suffix-icon">
        <icon>{{service.assignToObj.open? 'arrow_drop_down' : 'arrow_drop_up'}}</icon>
    </div>

    <div (click)="service.preventClick($event)" class="select-container"
        [ngClass]="{'animate-fade-in-container' : service.assignToObj.open && !service.assignToObj.firstTimeVisit, 'animate-fade-out-container' : !service.assignToObj.open && !service.assignToObj.firstTimeVisit,}">

        <!-- ////////////// Content- / Resultcontainer  //////////////  -->

        <ng-content *ngFor="let key of searchResults; index as i;">
            <div class="data-field" (click)="toggleAssignTo(key)">
                <div class="profil-picture" [style.background-color]="service.allUser![key].color">AD</div>
                <span>{{service.allUser![key].firstname}} {{service.allUser![key].secondname}}</span>
                <icon>{{isAssinedTo(key)? 'check_box' : 'check_box_outline_blank'}}</icon>
            </div>
        </ng-content>
        <p class="error" *ngIf="!searchHasResults">Search could not find any results.</p>

        <!-- ////////////// Content- / Resultcontainer  //////////////  -->
    </div>
</div>

<div class="assined-to-render-container min-height-for-container">
    <ng-content *ngFor="let key of service.assignToObj.selectetUser; index as i;">
        <div *ngIf="i <= 4" class="profil-picture-big" [style.background-color]="service.allUser![key].color">
            {{service.allUser![key].inital}}
        </div>
        <div *ngIf="i >= 5 && i + 1 == service.assignToObj.selectetUser.length" class="amount-of-number">+{{i -
            4}}
        </div>

    </ng-content>
    <span *ngIf="service.assignToObj.selectetUser.length == 0" class="error">
        <p>No User is assigned to your Task.</p>
    </span>

</div>