<label for="assignTo" class="important">Assigned to</label>
<div class="select-input assignedTo-input"
    [ngClass]="{'error-border': assignService.isValid() === false}"
    (click)="searchForResults(); toggleAssignedToWindow() ;preventClick($event)">
    <span *ngIf="!assignService.isMenuOpen()">Select Contacts</span>

    <ng-content *ngIf="assignService.isMenuOpen()">
        <icon class="search-iocn">search</icon>
        <input #serachbar (click)="preventClick($event)" (input)="searchForResults()" name="search"
            [(ngModel)]="currentSearchKey" id='assignTo' placeholder="Search Contacts">
    </ng-content>
    <hr>
    <div class="suffix-icon">
        <icon>{{assignService.isMenuOpen()? 'arrow_drop_down' : 'arrow_drop_up'}}</icon>
    </div>

    <div (click)="preventClick($event)" class="select-container"
        [ngClass]="{'animate-fade-in-container' : assignService.isMenuOpen() && !assignService.isFirstTimeVisit(), 'animate-fade-out-container' : !assignService.isMenuOpen() && !assignService.isFirstTimeVisit(),}">

        <!-- ////////////// Content- / Resultcontainer  //////////////  -->

        <ng-content *ngFor="let key of searchResults; index as i;">
            <div class="data-field" (click)="assignService.toggleToAssignTo(key)">
                <div class="profil-picture" [style.background-color]="assignService.allUsers![key].color">AD</div>
                <span>{{assignService.allUsers![key].firstname}} {{assignService.allUsers![key].secondname}}</span>
                <icon>{{assignService.isUserAleadyAssigned(key) >= 0? 'check_box' : 'check_box_outline_blank'}}</icon>
            </div>
        </ng-content>
        <p class="error" *ngIf="!searchHasResults">Search could not find any results.</p>

        <!-- ////////////// Content- / Resultcontainer  //////////////  -->
    </div>
</div>


<!-- ////////////// -Seleced User Container-  //////////////  -->
<div class="assined-to-render-container min-height-for-container">
    <ng-content *ngFor="let key of assignService.selectetUser(); index as i;">
        <div *ngIf="i <= 4" class="profil-picture-big" [style.background-color]="assignService.allUsers![key].color">
            {{assignService.allUsers!![key].inital}}
        </div>
        <div *ngIf="i >= 5 && i + 1 == assignService.selectetUser().length" class="amount-of-number">+{{i -
            4}}
        </div>

    </ng-content>
    <span *ngIf="assignService.selectetUser().length == 0" class="error">
        <p>No User is assigned to your Task.</p>
    </span>

</div>