.animation {
    animation: move-to-top 0.75s ease-in-out forwards;
    animation-delay: 0.75s;
}


.white-space {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    animation: fade-out 0.5s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 1;
    overflow: hidden;
}

.animation-fade-in-right {
    opacity: 0;
    transform: translateX(170px);
    animation: fade-in-right 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

.animation-fade-in-left {
    opacity: 0;
    transform: translateX(-170px);
    animation: fade-in-left 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

.animation-fade-out-right {
    opacity: 1;
    position: absolute;
    top: calc((100% - 750px) / 2);
    right: calc((100% - 650px) / 2);
    animation: fade-out-right 0.5s ease-in-out forwards;
    width: 650px;
    height: 750px;
}

.animation-fade-out-left {
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: fade-out-left 0.5s ease-in-out forwards;
}

.initIn {
    width: 100%;
    opacity: 1;
    top: 0px;
    left: 0px;
}

.initOut {
    display: none;
    opacity: 0;
    transform: translateX(170px);
}

.no-scroll {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


@keyframes fade-in-right {
    to {
        display: flex;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    to {
        display: flex;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out-left {
    99% {
        transform: translateX(-170px);
        opacity: 0;
    }

    100% {
        display: none;
    }
}

@keyframes fade-out-right {
    99% {
        transform: translateX(170px);
        opacity: 0;
    }

    100% {
        display: none;
    }
}


@keyframes move-to-top {
    to {
        left: 48px;
        top: 48px;
        width: clamp(44px, 12vw, 90px);
    }
}

@keyframes move-to-top-small {
    to {
        left: 48px;
        top: 48px;
        width: 12px;
    }
}

@keyframes fade-out {
    99% {
        opacity: 0;
        height: 100%;
        width: 100%;
    }

    100% {
        height: 0%;
        width: 0%;
        display: none;
    }
}

@media (max-width:560px){



}