<div class="main-content">



    <div class="content-wrapper">
        <div class="sign-up-bar">
            <p>Not a Join-User?</p>
            <div class="black-button" (click)="sliderservice.slideto(1); loginForm.resetForm()">Sign-up</div>
        </div>
        <nav class="bottom-nav">
            <ul>
                <li [routerLink]="['/main/privacy-policy']">Privacy Policy</li>
                <li [routerLink]="['/main/legal-notice']">Legal Notice</li>
            </ul>
        </nav>

        <div class="whitebox">
            <app-content-slider>
                <form-log-in #loginForm class="box-element"></form-log-in>
                <form-sign-up class="box-element"></form-sign-up>
            </app-content-slider>
        </div>


        <div class="none" [ngClass]="{'white-space' : secondClassForLogo == 'animation'}"></div>
        <div class="logo"><img src="./img/logo-black.svg" [ngClass]="secondClassForLogo"></div>
    </div>

</div>