<div class="Summary-Container">

    <div class="headline">
        <h1>JOIN 360</h1>
        <hr>
        <h3>Key Metrics at a Glance</h3>
    </div>

    <div class="panel-content-container">
        <div class="row">
            <app-card-for-summary icon="edit" value='0'>
                <p>To-Do</p>
            </app-card-for-summary>

            <app-card-for-summary icon="check" value='2'>
                <p>Done</p>
            </app-card-for-summary>
        </div>

        <app-card-for-summary icon='double_arrow' value='5'>
            <p>Task&nbsp;in Board</p>
            <hr>
            <div class="second-column">
                <p>Marc 23, 2025</p>
                <p>Upcoming Deadline</p>
            </div>
        </app-card-for-summary>

        <div class="row">
            <app-card-for-summary value='5'>
                <p>Task&nbsp;in Board</p>
            </app-card-for-summary>

            <app-card-for-summary value='1'>
                <p>Task&nbsp;in Progress</p>
            </app-card-for-summary>

            <app-card-for-summary value='3'>
                <p>Await Feedback</p>
            </app-card-for-summary>
        </div>
    </div>




</div>