@media (max-width:1024px){

    .content-container-main-wrapper{
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 120px;
        padding-left: 0px;
    }

    .content-container-content-wrapper{
        width: 90%;
        padding-right: 0px;
    }


}