header {
    height: 100px;
    background-color: var(--white);
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 3px 3px var(--shadow);
    box-sizing: border-box;

    p {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 21px;
        position: absolute;
        left: calc(250px + 32px);
        top: 0px;
    }
}

.profil-container {
    position: relative;
}

.profil {
    color: var(--white);
    margin-left: 16px;
    width: 56px;
    min-height: 56px;
    aspect-ratio: 1 / 1;
    background-color: rgb(0, 229, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
    border: 4px solid var(--grey);
    box-sizing: border-box;
    text-shadow: 1px 1px var(--shadow);

    &:hover {
        cursor: pointer;
        border-color: var(--cyan);
    }

    &:hover span {
        transform: scale(105%);
    }
}

.container-wrapper {
    width: max-content;
    display: flex;
    margin-right: 90px;
    align-items: center;
}

.button-help {
    font-size: 24px;
    color: var(--grey);
    width: 24px;
    height: 24px;

    &:hover {
        cursor: pointer;
        transform: scale(105%);
    }
}

.logo{
    position: absolute;
    left: 64px;
    display: none;
    height: 48px;
    width: auto;
    flex-shrink: 0;
    
 }

@media (max-width: 1024px){
    header{
        width: calc(100% + (90px - 68px));
        p {
            left: 64px;
        }
    }



}

@media (max-width: 600px){
    header{
        p {
            display: none;
        }
    }
    
    .logo{
        display: flex;
    }
}