<section class="lightbox-background" (click)="closeLightbox()"
    [ngClass]="{'lightbox-fade-in' : isLightBoxOpen && !firstTimeopen, 'lightbox-fade-out' : !isLightBoxOpen && !firstTimeopen, 'init' : firstTimeopen}">
    <div (click)="preventClick($event)" class="whitebox"
        [ngClass]="{'whitebox-fade-in' : isLightBoxOpen, 'whitebox-fade-out' : !isLightBoxOpen}">
        <div class="headline-of-box">
            <icon (click)="closeLightbox()" class="close-button">close</icon>
        </div>
        <div class="whitebox-container">
            <ng-content></ng-content>
            <ng-container #lightboxContainer></ng-container>
        </div>

    </div>
</section>