<aside>
    <div class=logo>
        <img src="./img/logo-white.svg">

    </div>
    <nav>
        <ul>
            <li>
                <div>
                    <icon>backup_table</icon><span>Summary</span>
                </div>
            </li>
            <li>
                <div>
                    <icon>edit_square</icon><span>Add Task</span>
                </div>
            </li>
            <li>
                <div>
                    <icon>width_normal</icon><span>Board</span>
                </div>
            </li>
            <li>
                <div>
                    <icon>perm_contact_calendar</icon><span>Contacts</span>
                </div>
            </li>
        </ul>
    </nav>

    <ul class="subnav">
        <li>
            Privacy Policy
        </li>
        <li>
            Legal Notice
        </li>
    </ul>
</aside>