form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    font-family: 'Inter';
    outline: 0px;
    border: 0px;
    margin-left: 12px;
    font-size: 18px;
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 4px);
    resize: none;
}

input {
    outline: 0px;
    border: 0px;
    margin-left: 12px;
    font-size: 18px;
    flex-grow: 1;
    height: calc(100% - 4px);
    background-color: transparent;
}


.text-frame {
    border: 1px solid var(--grey);
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    margin: 8px 0px 24px 0px;
    overflow-y: auto;
    background-color: var(--white);
    padding: 16px 0px 16px 0px;

    &:hover,
    &:focus-within,
    &:active {
        border-color: var(--cyan);
    }
}

.input-frame {
    border: 1px solid var(--grey);
    width: 75%;
    max-width: 325px;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    margin: 12px;

    icon {
        font-size: 26px;
    }

    &:hover,
    &:focus-within,
    &:active {
        .data-picker-icon {
            color: var(--cyan);
        }

        border-color: var(--cyan);
    }
}

.error {
    border-color: var(--error);

    &:hover,
    &:focus-within,
    &:active {
        border-color: var(--error);
    }

    p {
        color: var(--error);
        font-size: 18px;
        font-weight: 500;
    }
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.suffix-icon {
    user-select: none;
    padding: 0px 16px;
    color: var(--grey);
}

.password {
    &:hover {
        cursor: pointer;
        color: var(--black);
    }
}

.error-box {
    width: 75%;
    min-height: 42px;
}

.flex-box {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: start;
    max-width: 325px;
    font-size: 18px;
}

h1 {
    margin-bottom: 12px;
}

.important {
    position: relative;

    &::before {
        content: '*';
        position: absolute;
        width: min-content;
        height: 100%;
        top: -5px;
        right: -12px;
        font-size: 24px;
        color: var(--error);
    }
}

label {
    width: max-content;
    font-size: 21px;
    display: flex;
    justify-content: start;
}

@media (max-width: 456px) {
    .min-witdh-button{
        white-space: nowrap; 
        min-width: 115px;
    }
}


@media (max-width:400px){


}