@font-face {
    font-family: 'inter';
    font-weight: 100 1000;
    src: url('./../public/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

:root {
    --background: #F6F7F8;
    --cyan: #29ABE2;
    --black: #2A3647;
    --subline: #42526E;
    --hover-black: #091931;
    --white: #FFFFFF;
    --grey: #A8A8A8;
    --hover-grey: #e9ebf0;
    --red: #FF3D00;
    --error: #de1919;
    --yellow: #FFA800;
    --green: #7AE229;
    --shadow: #cfd8e3d7;
    --disable-button: #9aa7b6d7;

}

body {
    scroll-behavior: smooth;
    margin: 0 0;
    background-color: var(--hover-black);
    font-family: 'inter';
    font-weight: 400;

}

ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-inline: 0px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-block: 0px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1 {
    width: 100%;
    font-size: 64px;
    color: var(--black);
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 700;
}

h2{
    width: 100%;
    font-size: 48px;
    color: var(--black);
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 400; 
}

hr {
    width: 300px;
    background-color: var(--cyan);
    border: 0px;
    height: 2px;
}

.black-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
    min-width: 65px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    height: max-content;
    margin: 16px;
    border: 2px solid transparent;
    font-size: 18px;

    &:hover {
        background-color: var(--cyan);
        box-shadow: 0px 3px 3px var(--shadow);
        cursor: pointer;
    }
}

.white-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
    min-width: 65px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 12px;
    height: max-content;
    margin: 16px;
    border: 2px solid var(--black);
    font-size: 18px;

    &:hover {
        border-color: var(--cyan);
        box-shadow: 0px 3px 3px var(--shadow);
        color: var(--cyan);
        cursor: pointer;
    }
}

.fullsize {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black-button:disabled {
    background-color: var(--disable-button) !important;
    cursor: not-allowed !important;

    &:hover {
        box-shadow: none !important;
    }
}

::-webkit-scrollbar {
    background-color: var(--white);
}

::-webkit-scrollbar-track {
    box-sizing: border-box;
    background-color: var(--hover-white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--hover-black);
    border-radius: 8px;
    box-sizing: border-box;
    border: 3px solid var(--white);
}

.input-frame-add-task {
    max-width: none !important;
    width: 100% !important;
    margin: 8px 0px 24px 0px !important;
    background-color: var(--white);
    position: relative;

    input {
        font-family: 'inter';
        width: calc(100% - 24px) !important;
        flex-grow: 0;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        height: 100%;
        width: 44px;
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 0;

        &:hover {
            cursor: pointer;
        }
    }

    .data-picker-input {
        z-index: 99;
    }

    .data-picker-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 0;
    }
}