form {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 64px;
    position: relative;
}

.form-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}


.form-container-size {
    width: 46%;
    box-sizing: border-box;
}

.vertical-hr-container {
    flex-grow: 1;

    hr {
        width: 1px !important;
        height: 508px;
        ;
        background-color: var(--grey);
    }
}

.form-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 32px;
    margin-top: 2rem;
}

.white-button,
.black-button {
    margin: 0px 0px 0px 32px;
}

.min-witdh-button {
    min-width: 160px;
}

.error-container {
    z-index: 999;
    position: sticky;
    bottom: 1rem;
    left: 0%;

    height: 64px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 12px 12px;
    width: 100%;
    max-width: 750px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
    box-shadow: 0px 1px 4px transparent;
    color: transparent;

    @media screen and (max-width:1024px) {
            bottom: calc(88px + 1rem);
    }



    icon{
        font-size: clamp(2rem, 6vw, 3rem);
        margin-right: 12px;
    }


    p{
        font-weight: 400;
        color: white;
    }

}

.error-container.active{
        background-color: #f23d3d;
        box-shadow: 0px 1px 4px #a9a9a9;
        color: white;
    }

.error-border {
    border-color: var(--error) !important;

}

@media (max-width: 1440px) {
    .form-main-container {
        flex-direction: column;
        align-items: center;
    }

    .form-container-size {
        width: 75%;
    }

    .vertical-hr-container {
        display: none;
    }

    .form-button-container {
        box-sizing: border-box;
        max-width: 75%;
        margin-right: 0px;
    }



    h1 {
        display: flex !important;
        width: 75% !important;
    }
}

@media (max-width: 1024px) {
    .form-button-container {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .min-witdh-button {
        margin: 0px 16px 0px 16px;
    }

    .form-container-size {
        width: 100%;
    }
}

