<form #addTaskForm="ngForm">
    <div class="error-container">
        <p>{{this.service.errorText}}</p>
    </div>
    <div class="form-main-container">
        <div class="form-container-size">

            <label for="title" class="important">Title</label>
            <div (click)="service.checkForValidationinForm(addTaskForm, false)" class="input-frame input-frame-add-task"
                [ngClass]="{'error-border': service.formHasError[0]}">
                <input id='nameInput' required name="taskTitle" [(ngModel)]='service.newTask.name' type="text"
                    (input)="service.checkForValidationinForm(addTaskForm, false)"
                    (blur)="service.checkForValidationinForm(addTaskForm, false)" placeholder="Enter a Title"
                    minlength="3" #taskTitleInput="ngModel">
            </div>

            <label for="description">Description</label>
            <div class="text-frame">
                <textarea id="description" name="task-description" [(ngModel)]='service.newTask.description'
                    placeholder="Enter a Description" minlength="3"></textarea>
            </div>

            <app-assigned-to-input [CurrentTaskDataSet]="service.newTask" [OnHoverIsValid]="service.formHasError[3]"
                [form]="addTaskForm"></app-assigned-to-input>

        </div>
        <div class="vertical-hr-container">
            <hr>
        </div>

        <div class="form-container-size">

            <label for="title" class="important">Due date</label>
            <div class="input-frame input-frame-add-task" id="dueDateInput"
                [ngClass]="{'error-border' : service.formHasError[1]}"
                (blur)="service.checkForValidationinForm(addTaskForm, false)"
                (input)="service.checkForValidationinForm(addTaskForm, false)">
                <div class="suffix-icon data-picker-icon">
                    <icon>calendar_month</icon>
                </div>
                <input class='data-picker-input' [(ngModel)]='service.newTask.date' required type="date" id="start"
                    name="dueDate" [min]="dateToday" #dueDateTaskInput="ngModel" />
            </div>

            <app-priority-input (priorityChange)="onPriorityChange($event)"></app-priority-input>

            <app-category-input [OnHoverIsValid]="service.formHasError[2]" [form]="addTaskForm"></app-category-input>

            <app-subtask-input></app-subtask-input>

        </div>
    </div>
    <div [style.margin-top]="buttonMarginTop" class="form-button-container" (hover)="this.service.preventClick($event)">
        <button class="white-button min-witdh-button" (click)="resetForm(addTaskForm)">Clear</button>

        <div (mouseenter)="service.checkForValidationinForm(addTaskForm, true)"
            (mouseleave)="service.checkForValidationinForm(addTaskForm, false)">
            <button class="black-button min-witdh-button" [disabled]="!checkForValidationForButton(addTaskForm)"
                (click)="creatNewTask(addTaskForm)">Add
                Task</button>
        </div>
    </div>
</form>