.drop-zone-container {
    width: 99%;
    height: 99%;
    min-height: 200px;
    border: 1px dashed var(--grey);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.02);
}

.drop-zone-content {
    color: #8a8a8a;
    font-size: 18px;

    icon {
        font-size: 48px;
    }
}